services:
  # Servicio Web Spring Boot
  - type: web
    name: desplieg-api
    env: docker
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: desplieg-db
          property: connectionString

databases:
  # Base de datos PostgreSQL
  - name: desplieg-db
    databaseName: bookdb
    plan: free

