services:
  # Servicio Web Spring Boot
  - type: web
    name: desplieg-api
    runtime: java
    plan: free
    buildCommand: chmod +x mvnw && ./mvnw clean package -DskipTests
    startCommand: java -Dserver.port=$PORT -Dspring.profiles.active=prod -jar target/desplieg-0.0.1-SNAPSHOT.jar
    envVars:
      - key: JAVA_VERSION
        value: 17
      - key: DATABASE_URL
        fromDatabase:
          name: desplieg-db
          property: connectionString

databases:
  # Base de datos PostgreSQL
  - name: desplieg-db
    databaseName: bookdb
    plan: free

